/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

$light: #fefefd;
$dark: #1a1a1e;
$action: #1f3344;
$shadow: #c29b23;

* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    // height: 50dvh;
    margin: auto;
    background-color: $dark;
    color: $light;
    height: 100%;
    height: fit-content;
    // overflow: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main {
    margin: 3dvh auto 3dvh auto;
}

.qr > div:nth-child(1) {
    font-size: 2dvw;
}

.qrcode {
    padding: 5px;
    background-color: white;
    max-width: inherit;
    height: fit-content;
    border-radius: inherit;
    width: 100%;
    // height: 100%;
}
.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    visibility: hidden;
    top: 5dvh;
    left: 5px;
    color: aliceblue;
    max-width: 8dvw;
    padding: 0.25em 0.25em 0em 0.25em;
    gap: 0.5em;
    border: 1px solid aliceblue;
    background-color: rgb(21, 30, 38);
    border-radius: 0.25em;
    width: 10dvw;
    height: fit-content;
}

@media (width>800px) {
    .qr {
        visibility: visible;
    }
}

.input {
    &-container {
        display: grid;
        grid-template-columns: 5dvw auto 5dvw;
        gap: 0.1em;
        max-height: 10dvh;
        & > button {
            background-color: $action;
            border: 2px solid $light;
            border-radius: 0.5em;
        }
        & > * {
            display: flex;
            place-content: center;
            text-align: center;

            & > img {
                display: flex;
                height: 100%;
                width: 100%;
            }
        }
    }
    &_search {
        font-size: 100%;
    }
}

.weather {
    & svg {
        filter: drop-shadow(1px 1px 2px $shadow);
    }
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 40dvh;
    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90dvh;
        // max-height: 90dvh;
    }
    &_location {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 4dvw;
        padding: 0.25em 0 0.25em 0;
    }
    &_current {
        box-shadow: inset 0px 0px 2dvh 1px $shadow;
        display: grid;
        grid-template-rows: 60% auto auto auto;
        width: 90%;
        gap: 0.25em;
        height: fit-content;
        border: 1px solid white;
        border-radius: 1em;

        &__icon {
            height: 100%;
            & > svg {
                width: 100%;
                height: 100%;
                // height: 40dvh;
            }
        }
        &__desc {
            display: flex;
            // font-size: 3dvw;
            font-size: 4.5dvw;
            place-content: center;
            align-items: center;
            margin-left: 0.25em;
            margin-right: 0.25em;
        }
        &__temp {
            display: flex;
            place-content: center;
            // &_icon {
            //     display: flex;
            //     place-items: center;
            //     // min-width: 15%;
            //     & > svg {
            //         width: 90%;
            //         height: auto;
            //         aspect-ratio: 1/1;
            //     }
            // }
            &_wrapper {
                display: flex;
                place-content: center;
                // margin: auto 0 auto 0;
                font-size: 3dvw;
                margin: auto;
            }
            &__ {
                &text {
                    vertical-align: middle;
                }
                &icon {
                    & > svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        &__feels {
            text-align: center;
            // font-size: 2.5dvw;
            font-size: 3.5dvw;
        }
    }
    &_info {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;

        &__row {
            display: flex;
            gap: 1em;
            flex-grow: 0.1;
            height: fit-content;

            &__icon {
                margin-left: 5dvw;
                display: flex;
                place-items: center;
                min-width: 15%;
                & > svg {
                    width: 100%;
                    height: 100%;
                }
            }
            &__text {
                display: flex;
                place-content: center;
                align-items: center;
                // font-size: 3dvh;
                font-size: 5dvw;
            }
        }
    }
}

@media (width<640px) {
    .input-container {
        display: grid;
        grid-template-columns: 15dvw auto 15dvw;
        max-height: 10dvh;
    }
    body {
        width: 95dvw;
        // background-color: red;
        overflow: hidden;
    }

    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_location {
            font-size: 8dvw;
        }
        &_current {
            // display: grid;
            // flex-direction: row;
            // height: 40dvh;
            // width: 60dvw;
            &__icon {
                // height: 30dvh;
                height: 100%;
            }
        }
        &_info {
            display: grid;
            grid-template-columns: 50% 50%;
            width: 95dvw;
            margin-top: 0.5em;
        }
    }
}

@media (width<440px) {
    html {
        overflow: hidden;
    }
    .input-container {
        display: grid;
        grid-template-columns: 15dvw auto 15dvw;
        max-height: 10dvh;
    }

    .weather_location {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0.25em 0 0.25em 0;
    }
    .weather {
        gap: 2em;
        margin-top: 0.25em;
        &_current {
            font-size: 1em;
            width: 85dvw;
            max-height: 40dvh;
            &__desc {
                font-size: 1.5em;
            }
            &__temp__text {
                font-size: 1.5em;
            }
            &__feels {
                font-size: 1em;
            }
        }
        &_info {
            display: flex;
            width: 95dvw;
            align-items: center;
            max-height: 30dvh;

            &__row {
                // height: 5dvh;
                font-size: 1em;
                display: grid;
                grid-template-columns: 25% 50%;
                font-size: 2dvh;
                &__icon {
                    width: 5dvh;
                }
                & > * {
                    font-size: inherit;
                }

                // grid-template-columns: ;

                // margin-left: 10dvw;

                // margin: auto;
                width: 95dvw;
            }
        }
    }
}

.input-container :nth-child(2) > :first-child > input {
    height: 100%;
    // background-color: transparent;
    // border: 0px;
    // color: rgba(0, 0, 0, 0.75);
    // font: inherit;
    // height: 50px;
    // margin-top: auto;
    // overflow: hidden;
    // padding: 0px 40px;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // width: 100%;
}
