/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
  background-color: #1a1a1e;
  color: #fefefd;
  height: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main {
  margin: 3dvh auto 3dvh auto;
}

.qr > div:nth-child(1) {
  font-size: 2dvw;
}

.qrcode {
  padding: 5px;
  background-color: white;
  max-width: inherit;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: inherit;
  width: 100%;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  visibility: hidden;
  top: 5dvh;
  left: 5px;
  color: aliceblue;
  max-width: 8dvw;
  padding: 0.25em 0.25em 0em 0.25em;
  gap: 0.5em;
  border: 1px solid aliceblue;
  background-color: rgb(21, 30, 38);
  border-radius: 0.25em;
  width: 10dvw;
  height: -moz-fit-content;
  height: fit-content;
}

@media (width > 800px) {
  .qr {
    visibility: visible;
  }
}
.input-container {
  display: grid;
  grid-template-columns: 5dvw auto 5dvw;
  gap: 0.1em;
  max-height: 10dvh;
}
.input-container > button {
  background-color: #1f3344;
  border: 2px solid #fefefd;
  border-radius: 0.5em;
}
.input-container > * {
  display: flex;
  place-content: center;
  text-align: center;
}
.input-container > * > img {
  display: flex;
  height: 100%;
  width: 100%;
}
.input_search {
  font-size: 100%;
}

.weather {
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: 40dvh;
}
.weather svg {
  filter: drop-shadow(1px 1px 2px #c29b23);
}
.weather-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90dvh;
}
.weather_location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 4dvw;
  padding: 0.25em 0 0.25em 0;
}
.weather_current {
  box-shadow: inset 0px 0px 2dvh 1px #c29b23;
  display: grid;
  grid-template-rows: 60% auto auto auto;
  width: 90%;
  gap: 0.25em;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid white;
  border-radius: 1em;
}
.weather_current__icon {
  height: 100%;
}
.weather_current__icon > svg {
  width: 100%;
  height: 100%;
}
.weather_current__desc {
  display: flex;
  font-size: 4.5dvw;
  place-content: center;
  align-items: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-bottom: 2px solid white;
  text-align: center;
}
.weather_current__temp {
  display: flex;
  place-content: center;
}
.weather_current__temp_wrapper {
  display: flex;
  place-content: center;
  font-size: 3dvw;
  margin: auto;
}
.weather_current__temp__text {
  vertical-align: middle;
}
.weather_current__temp__icon > svg {
  height: 100%;
  width: 100%;
}
.weather_current__feels {
  text-align: center;
  font-size: 3.5dvw;
}
.weather_info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}
.weather_info__row {
  display: flex;
  gap: 1em;
  flex-grow: 0.1;
  height: -moz-fit-content;
  height: fit-content;
}
.weather_info__row__icon {
  margin-left: 5dvw;
  display: flex;
  place-items: center;
  min-width: 15%;
}
.weather_info__row__icon > svg {
  width: 100%;
  height: 100%;
}
.weather_info__row__text {
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 5dvw;
}

@media (width < 640px) {
  .input-container {
    display: grid;
    grid-template-columns: 15dvw auto 15dvw;
    max-height: 10dvh;
  }
  body {
    width: 95dvw;
    overflow: hidden;
  }
  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather_location {
    font-size: 8dvw;
  }
  .weather_current__icon {
    height: 100%;
  }
  .weather_info {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 95dvw;
    margin-top: 0.5em;
  }
}
@media (width < 440px) {
  html {
    overflow: hidden;
  }
  .input-container {
    display: grid;
    grid-template-columns: 15dvw auto 15dvw;
    max-height: 10dvh;
  }
  .weather_location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25em 0 0.25em 0;
  }
  .weather {
    gap: 2em;
    margin-top: 0.25em;
  }
  .weather_current {
    font-size: 1em;
    width: 85dvw;
    max-height: 40dvh;
  }
  .weather_current__desc {
    font-size: 1.5em;
  }
  .weather_current__temp__text {
    font-size: 1.5em;
  }
  .weather_current__feels {
    font-size: 1em;
  }
  .weather_info {
    display: flex;
    width: 95dvw;
    align-items: center;
    max-height: 30dvh;
  }
  .weather_info__row {
    font-size: 1em;
    display: grid;
    grid-template-columns: 25% 50%;
    font-size: 2dvh;
    width: 95dvw;
  }
  .weather_info__row__icon {
    width: 5dvh;
  }
  .weather_info__row > * {
    font-size: inherit;
  }
}
.input-container :nth-child(2) > :first-child > input {
  height: 100%;
}/*# sourceMappingURL=main.css.map */